#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2rem 2rem; /* remove top padding so content starts at the top */
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    align-items: center;
}

#main {
    width: 100%;
    margin-top: 0;
}

nav {
    width: 100%;
    margin-bottom: 1rem;
    color: #FFF;
}

a, a:hover{
    text-decoration: none;
    color: inherit;
}
