/*@import "@picocss/pico";*/

@font-face {
    font-family: "Papyrus W01";
    src: url("https://db.onlinewebfonts.com/t/a0e1b1883c0cf520e9c50d0cd91cd0d0.eot");
    src: url("https://db.onlinewebfonts.com/t/a0e1b1883c0cf520e9c50d0cd91cd0d0.eot?#iefix")format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/a0e1b1883c0cf520e9c50d0cd91cd0d0.woff2")format("woff2"), url("https://db.onlinewebfonts.com/t/a0e1b1883c0cf520e9c50d0cd91cd0d0.woff")format("woff"), url("https://db.onlinewebfonts.com/t/a0e1b1883c0cf520e9c50d0cd91cd0d0.ttf")format("truetype"), url("https://db.onlinewebfonts.com/t/a0e1b1883c0cf520e9c50d0cd91cd0d0.svg#Papyrus W01")format("svg");
}
#root {
    --primary: black; /* Can create variables*/
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    color: var(--primary);
}
h1 {
    font-family: "Papyrus W01";
}

tr:nth-child(even) {
    background: #F2F2F2;
}

tr:nth-child(odd) {
    background: #FFF;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

span{
    background-color: white;
}
button{
    margin: 50px;
}
ul {
    list-style-type: none;
}
